:root {
  --background-color: rgb(31, 31, 31);
  --grid-size: 10;
  --tile-color: rgb(87, 87, 87);
  --tile-size: 2.5em;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. . . '
    '. game-boards .'
    ' . . .';
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}

#game-board-container {
  grid-area: game-boards;
  display: flex;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  padding: 1em;
}

.empty-tile {
  height: var(--tile-size);
  width: var(--tile-size);
  background-color: var(--tile-color);
  border: 1px solid;
}

.empty-tile:hover {
  background-color: rgb(255, 230, 0);
  cursor: pointer;
}

.ship-not-hit {
  background-color: rgb(0, 47, 255);
}
.ship-hit {
  background-color: rgb(167, 2, 2);
}

.missed {
  background-color: rgba(255, 255, 255, 0.617);
}

@media (max-width: 768px) {
  #game-board-container {
    flex-direction: column;
  }
}
